.show_reason {
    font-size: 90%;
    color: rgb(70, 69, 69);
}

.edit {
    cursor: url('../images/typing.cur'), auto;
}

.edit:hover {
    color: rgb(196, 5, 46);
}

.th_style {
    background-color: #a2ccee ! important;
    text-align: center;
    vertical-align: middle;
}