<script>
  $(document).ready(function(){
    $( "#iteamtab<{$block.randStr}>" ).easyResponsiveTabs({
      tabidentify: 'vert' ,
      type: '<{$block.options0}>'
    });

  });
</script>
<style type="text/css" media="screen">
  .resp-vtabs .resp-tabs-container{
    min-height: <{$block.height}>px;
  }
</style>
<div style="margin: 10px 0px;text-align: right;">
  <a href="<{$xoops_url}>/modules/jill_booking/index.php" style="font-size:16pt; font-weight: bold;line-height: 1.2"><img src="<{$xoops_url}>/modules/jill_booking/images/icons/icon_more.gif" alt="<{$smarty.const._MB_JILLBOOKIN_MORE}>" title="<{$smarty.const._MB_JILLBOOKIN_MORE}>" border="0" style="margin-right:4px;" align="absmiddle"></a>
</div>
<div id="iteamtab<{$block.randStr}>" >
  <ul class="resp-tabs-list vert" >
    <{foreach from=$block.content item=data}>
      <li><{$data.jbi_title}></li>
    <{/foreach}>
  </ul>
    <div class="resp-tabs-container vert">
      <{foreach from=$block.content item=data}>
        <div>
          <table class="table table-condensed table-striped table-hover table-bordered table-responsive">
            <thead>
              <tr style="background-color: #5AB1D0;">
                <th><{$smarty.const._MB_JSESSION}></th>
                <th><{$smarty.const._MB_JILLBOOKIN_JB_UID}></th>
              </tr>
            </thead>
            <tbody>
              <{foreach from=$data.todaylist item=tlist}>

                <tr>
                  <td><{$tlist.jbt_title}></td>
                  <td><{$tlist.name}></td>
                </tr>
              <{/foreach}>
            </tbody>
          </table>
        </div>
      <{/foreach}>
    </div>
</div>
